
*{
    padding: 10px;
}
#map {
    height: 500px;
    width: 100%;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    max-width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
}
.carousel-caption {
   margin-bottom: 220px;
}
.map{
    margin-top: 60%;
}
.carousel-caption h1 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: wheat;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    padding: 7px 9px;
    font-size: 18px;
    line-height: 3;
    background:rgba(0,0,0,0.2)  ;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: wheat;
    background:rgba(0,0,0,0.2)  ;
    font-family: 'Cinzel Decorative', cursive;
}
.carousel-caption a {
    text-transform: uppercase;
    background: #c76d6d;
    padding: 10px 30px;
    display: inline-block;
    color: rgb(100, 9, 9);
    margin-top: 15px;
}
nav {
    background: rgb(209, 184, 184);
    height: 10vh;
}


.navbar-nav a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.logo {
    position: absolute;
    width: 10%;
    height: auto;
    margin-left: 20%;
}
.navbar-red .navbar-brand {
    color: rgb(184, 27, 61);
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: 'Allura', cursive;
}    
.navbar-red .navbar-brand .active > .nav-link, .navbar-red .navbar-nav .nav-link.active, 
.navbar-red .navbar-nav .navbar-link.show, .navbar-red .navbar-nav .show > .nav-link {
    color: rgb(179, 41, 41);
}
.navbar-red .navbar-nav  .navbr-link {
    color: rgb(88, 13, 13)32, 4, 4);
}

.nav-link{
    padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
    color: rgb(209, 8, 8) !important;
}
.w-90
{
    opacity:0.9;
    object-fit: cover;
}

@media only screen and (max-width:767px){
    .navbar-nav.ml-auto
    {
         background: rgba(0,0,0,0.5);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0,3;
        background: rgb(207, 126, 126);
    }
    .navbar-brand {
        font-size: 8px;
    }
}